[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
jupyter = "*"
ipython = "*"
matplotlib = "*"
pandas = "*"
flake8 = "*"
autopep8 = "*"

[packages]
kapre = "*"
librosa = "*"
keras = ">=2.0"
tensorflow = "==2.0.1"
argparse = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
