[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
jupyter = "*"
ipython = "*"
matplotlib = "*"
pandas = "*"
flake8 = "*"
autopep8 = "*"

[packages]
kapre = "==0.1.7"
librosa = "*"
tensorflow = "*"
argparse = "*"
python-dotenv = "*"
soundfile = "*"
synthplayer = "*"
keras = "*"

[requires]
python_version = "3.7"
